on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - "v*"

name: Release policy

jobs:
  test:
    name: run tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-go-wasi.yml@f1695ca9a575bf58b85d6c3652c7ff7d1d12ec24 # v4.5.16

  release:
    needs: test
    permissions:
      # Required to create GH releases
      contents: write
      # Required to push to GHCR
      packages: write
      # Required by cosign keyless signing
      id-token: write
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-go-wasi.yml@f1695ca9a575bf58b85d6c3652c7ff7d1d12ec24 # v4.5.16
    with:
      oci-target: ghcr.io/${{ github.repository_owner }}/policies/cel-policy

  release-catalog:
    needs: release
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-catalog.yml@f1695ca9a575bf58b85d6c3652c7ff7d1d12ec24 # v4.5.16
    secrets:
      # Required to dispatch the release event to the policy-catalog repository
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
