name: Update third party directory

on: 
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * MON" # Trigger this workflow every Monday at 00:00

jobs:
  third-party-update:
    name: Update third party directory
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@b846825b298f5351abd80f94c4f9eab63a38a804 # v2.98.0

      - name: Updates  third party directory files
        env:
          UPDATECLI_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          UPDATECLI_GITHUB_OWNER: ${{ github.repository_owner }}
        run: "updatecli compose apply -f updatecli/updatecli-compose.yaml"
